.page-main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-image: url("../img/main-bg-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  scroll-behavior: smooth;
}
