.page-body {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 100%;
  font-family: $primary-font;
  color: $basic-text;
  scroll-behavior: smooth;

  &--overlay {
    overflow: hidden;
  }
}
