// colors
$basic-white: #ffffff;
$basic-black: #000000;
$basic-bg: #1b2d37;
$basic-text: #666666;
$basic-grey: #cdcdcd;
$basic-blue: #00b2ff;
$light-blue: rgba(25, 186, 255, 1);

// fonts
$primary-font: "PT Mono", "Arial", sans-serif;
$secondary-font: "Roboto Condensed", "Arial", sans-serif;

// Viewports
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
$large-width: 1439px;
